version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "niksbanna"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      expo:
        patterns:
          - "expo*"
      react-navigation:
        patterns:
          - "@react-navigation/*"
      redux:
        patterns:
          - "@reduxjs/*"
          - "react-redux"
      testing:
        patterns:
          - "@testing-library/*"
          - "jest*"
      eslint:
        patterns:
          - "eslint*"
          - "@typescript-eslint/*"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "ci"
